# Environment configuration
ENVIRONMENT=development
LOG_LEVEL=info
PYTHONPATH=.:./src

# ANALYZER SETTINGS
DEFAULT_MINIMUM_SCORE=0.75
DEFAULT_LANGUAGE="en"
DEFAULT_ENTITY_TYPES=["PERSON", "EMAIL_ADDRESS", "PHONE_NUMBER", "LOCATION", "IP_ADDRESS", "MEDICAL_LICENSE"]
DEFAULT_ANONYMIZATION_OPERATOR=REPLACE
